In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys

In [81]:
#Uplaod Team and Player stat files
df_player_stat = pd.read_csv('player_stat.csv')
df_team_stat = pd.read_csv('team_stats.csv')

In [56]:
print(df_player_stat.columns)
df_player_stat.head()

Index(['Season_Name', 'Metrics', 'Player_Name', 'Team_Name',
       'Total_matches_played', 'Points', 'Player_type'],
      dtype='object')

,Season_Name,Metrics,Player_Name,Team_Name,Total_matches_played,Points,Player_type
0,SEASON 7,Total Points,Pawan Kumar Sehrawat,bengaluru bulls,19,256,Raider
1,SEASON 7,Total Points,Pardeep Narwal,patna pirates,19,243,Raider
2,SEASON 7,Total Points,Naveen Kumar,dabang delhi,19,243,Raider
3,SEASON 7,Total Points,Maninder Singh,bengal warriors,19,192,Raider
4,SEASON 7,Total Points,Siddharth Sirish Desai,telugu titans,18,177,Raider

In [57]:
print(df_player_stat['Metrics'].unique())
df_player_stat_Succ_Raid = df_player_stat[df_player_stat['Metrics'] == ' Successful Raids']

[' Total Points' ' Raid Points' ' Tackle Points' ' Successful Raids'
 ' Super Raids' ' Super 10s' ' Successful Tackles' ' Super Tackles'
 ' High 5s']

In [76]:
df_player_stat_Succ_Raid.head()
df_player_stat_Succ_Raid_wo7 = df_player_stat_Succ_Raid[df_player_stat_Succ_Raid['Season_Name']!='SEASON 7' ]
df_player_stat_Succ_Raid_wo7.head()

,Season_Name,Metrics,Player_Name,Team_Name,Total_matches_played,Points,Player_type
2585,SEASON 6,Successful Raids,Pawan Kumar Sehrawat,bengaluru bulls,24,209,Raider
2586,SEASON 6,Successful Raids,Pardeep Narwal,patna pirates,21,185,Raider
2587,SEASON 6,Successful Raids,Ajay Thakur,tamil thalaivas,22,177,Raider
2588,SEASON 6,Successful Raids,Siddharth Sirish Desai,u mumba,21,169,Raider
2589,SEASON 6,Successful Raids,Deepak Niwas Hooda,jaipur pink,22,162,All Rounder

In [78]:
df_player_sraidt = df_player_stat_Succ_Raid.groupby(['Player_Name']).sum().sort_values(by=['Points'], ascending=False).head(10).reset_index()
df_player_sraid = df_player_stat_Succ_Raid_wo7.groupby(['Player_Name']).sum().sort_values(by=['Points'], ascending=False).head(10).reset_index()

In [79]:
def dividedet(row):
    return(row['Points']/row['Total_matches_played'])

df_player_sraid['point_perc'] = df_player_sraid.apply(dividedet, axis=1)
print(df_player_sraid.sort_values(by='point_perc', ascending=False))

df_player_sraidt['point_perc'] = df_player_sraidt.apply(dividedet, axis=1)
print(df_player_sraidt.sort_values(by='point_perc', ascending=False))

          Player_Name  Total_matches_played  Points  point_perc
1      Pardeep Narwal                    85     646    7.600000
8      Maninder Singh                    59     415    7.033898
0     Rahul Chaudhari                   100     679    6.790000
4         Rohit Kumar                    79     477    6.037975
2         Ajay Thakur                   102     593    5.813725
9          Monu Goyat                    59     339    5.745763
3  Deepak Niwas Hooda                   103     585    5.679612
7          Anup Kumar                    91     421    4.626374
6     Kashiling Adake                    92     424    4.608696
5    Rishank Devadiga                   103     432    4.194175
            Player_Name  Total_matches_played  Points  point_perc
0        Pardeep Narwal                   104     836    8.038462
4        Maninder Singh                    78     576    7.384615
1       Rahul Chaudhari                   119     775    6.512605
7  Pawan Kumar Sehrawat                    75     445    5.933333
5           Rohit Kumar                    96     546    5.687500
2    Deepak Niwas Hooda                   123     698    5.674797
3           Ajay Thakur                   115     640    5.565217
9            Anup Kumar                    91     421    4.626374
8       Kashiling Adake                    92     424    4.608696
6      Rishank Devadiga                   117     467    3.991453

**From the above results its clearly shows that Pradep Narwal will get more Successfull raids percentage**

In [80]:
df_player_stat_Succ_tack = df_player_stat[df_player_stat['Metrics'] == ' Successful Tackles']
df_player_stat_Succ_tack.head()
df_player_stat_Succ_tack_wo7 = df_player_stat_Succ_tack[df_player_stat_Succ_tack['Season_Name']!='SEASON 7' ]
df_player_stat_Succ_tack_wo7.head()

df_player_stackt = df_player_stat_Succ_tack.groupby(['Player_Name']).sum().sort_values(by=['Points'], ascending=False).head(10).reset_index()
df_player_stack = df_player_stat_Succ_tack_wo7.groupby(['Player_Name']).sum().sort_values(by=['Points'], ascending=False).head(10).reset_index()

def dividedet(row):
    return(row['Points']/row['Total_matches_played'])

df_player_stack['point_perc'] = df_player_stack.apply(dividedet, axis=1)
print(df_player_stack.sort_values(by='point_perc', ascending=False))

df_player_stackt['point_perc'] = df_player_stackt.apply(dividedet, axis=1)
print(df_player_stackt.sort_values(by='point_perc', ascending=False))

             Player_Name  Total_matches_played  Points  point_perc
0       Manjeet Chhillar                    93     289    3.107527
7          Surender Nada                    70     202    2.885714
6       PO Surjeet Singh                    73     204    2.794521
4        Fazel Atrachali                    79     220    2.784810
1         Ravinder Pahal                    89     244    2.741573
5    Girish Maruti Ernak                    89     217    2.438202
3         Mohit Chhillar                    91     220    2.417582
2         Sandeep Narwal                   101     231    2.287129
8  Dharmaraj Cheralathan                    99     195    1.969697
9          Kuldeep Singh                   113     191    1.690265
             Player_Name  Total_matches_played  Points  point_perc
0       Manjeet Chhillar                   108     324    3.000000
2        Fazel Atrachali                    97     274    2.824742
1         Ravinder Pahal                   108     299    2.768519
5       PO Surjeet Singh                    92     250    2.717391
9             Amit Hooda                    86     211    2.453488
6    Girish Maruti Ernak                   104     245    2.355769
4         Mohit Chhillar                   109     254    2.330275
3         Sandeep Narwal                   119     268    2.252101
7  Dharmaraj Cheralathan                   116     232    2.000000
8              Ran Singh                   117     215    1.837607

**From the above results its clearly shows that Manjeet Chillar will get more Successfull tackle percentage**

In [85]:
df_team_stat.head()
print(df_team_stat.columns)
df_team_stat_new = df_team_stat[['team_name', 'seasons', 'Matches Played', 'Total Raids', 'Successful Raids', 'unsuccessful raid', 'empty raids',
       'success raid %', 'successful tackles', 'unsuccesful tackles', 'successful tackle %']]
df_team_stat_new.head()

df_team_sraidt_overall = df_team_stat_new[df_team_stat_new['seasons']=='Overall']
#df_team_sraidt = df_player_stat_Succ_Raid.groupby(['Player_Name']).sum().sort_values(by=['Points'], ascending=False).head(10).reset_index()
df_team_sraidt_overall.head()

Index(['team_name', 'seasons', 'Matches Played', 'wins', 'draws', 'losses',
       'Finishing Position', 'highest score', 'Biggest Winning Margin',
       'Total Raids', 'Successful Raids', 'unsuccessful raid', 'empty raids',
       'success raid %', 'no. of super raids', 'raid touch points',
       'raid bonus points', 'total raid points', 'total tackles',
       'successful tackles', 'unsuccesful tackles', 'successful tackle %',
       'no. of super tackles', 'all outs inflicted', 'total all out points',
       'total defence points'],
      dtype='object')

,team_name,seasons,Matches Played,Total Raids,Successful Raids,unsuccessful raid,empty raids,success raid %,successful tackles,unsuccesful tackles,successful tackle %
0,Bengal Warriors,Overall,124,5269,1764,1143,2362,42%,1017,1795,39%
8,Bengaluru Bulls,Overall,125,5327,1810,1245,2272,43%,1086,1654,43%
16,Dabang Delhi K.C.,Overall,121,5119,1762,1163,2194,43%,992,1869,38%
24,Gujarat Fortunegiants,Overall,69,2948,992,677,1279,41%,687,813,49%
28,Haryana Steelers,Overall,64,2770,978,610,1182,44%,567,1014,39%